<div class="border-form">
  <h3>Warning</h3>
<form #plcForm="ngForm" (ngSubmit)="plcSubmit(plcForm)">
<div>
  <input type="text" id="plcName" [(ngModel)]="plcDataL.plcName" name="plcName" ngModel placeholder="plc name: ">
<!--  <label for="adrIP">ip address:</label>-->
  <input type="text" id="adrIP" [(ngModel)]="plcDataL.adrIP" name="adrIP" ngModel placeholder="ip address: ">

<!--  <label for="lengthRead">length read:</label>-->
  <input id="lengthRead" [(ngModel)]="plcDataL.lengthRead" name="lengthRead" ngModel placeholder="length read:">

<!--  <label for="lengthWrite">length write:</label>-->
  <input id="lengthWrite" [(ngModel)]="plcDataL.lengthWrite" name="lengthWrite" ngModel placeholder="length write:">

<!--  <label for="dbRead">dbRead:</label>-->
  <input id="dbRead" [(ngModel)]="plcDataL.dbRead" name="dbRead" ngModel placeholder="DB Read:">

<!--  <label for="dbWrite">dbWrite:</label>-->
  <input id="dbWrite" [(ngModel)]="plcDataL.dbWrite" name="dbWrite" ngModel placeholder="DB Write:">

<!--  <label for="rack">rack:</label>-->
  <input id="rack" [(ngModel)]="plcDataL.rack" name="rack" ngModel placeholder="rack:">

<!--  <label for="slot">slot:</label>-->
  <input id="slot" [(ngModel)]="plcDataL.slot" name="slot" ngModel placeholder="slot">

  <button type="submit">Submit</button>
</div>

</form>

  <div class="info-plc">
    <div *ngFor="let plc of plcDataAll">
      <div class="info-plc-plc">
<!--        {{plc|json}}-->
        <p>id: {{plc.id}}</p>
        <p>name: {{plc.plcName}}</p>
        <p>ip: {{plc.adrIP}}</p>
        <p>DB Read BYTE: {{plc.lengthRead}}</p>
        <p>DB Write BYTE: {{plc.lengthWrite}}</p>
        <p>DB Read: {{plc.dbRead}}</p>
        <p>DB Write: {{plc.dbWrite}}</p>
        <p>rack: {{plc.rack}}</p>
        <p>slot: {{plc.slot}}</p>

        <div *ngFor="let db of plc.plcDbData">
          <div class="info-plc-db">
            <p>id: {{db.idDB}}</p>
            <p>plc: {{db.plcName}}</p>
            <p>DB: {{db.dbAdr}}</p>
            <p>type: {{db.typeDB}}</p>
            <p>BYTE: {{db.dbByte}}</p>
            <p>BIT: {{db.dbBit}}</p>
          </div>
        </div>
      <button (click)="onDeletePLC(plc.id)">Delete</button>
      <button (click)="onConnectPLC(plc.id)" [ngStyle]="{'background-color':colorBtnConnect}">Connect</button>
      </div>
    </div>
  </div>
</div>
<!--<div>-->
<!--  <p>{{answerPLCData|json}}</p>-->
<!--</div>-->

